<nav class="navbar navbar-expand-sm  navbar-light bg-light"> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <!-- <a class="nav-item nav-link" routerLink="login">LoginForm</a> -->
        <a class="nav-item nav-link" routerLink="reactiveform">ReactiveForm</a>  
      </div>
    </div>
  </nav>
  <div class="container">
  <router-outlet></router-outlet>
  </div>
