<p>dynamic-form-control works!</p>
<form class="example-form" [formGroup]="employeeForm" (ngSubmit)="onSubmit(employeeForm.value)">
  <table class="example-full-width" formArrayName="employeeDetail">
    <tr *ngFor="let data of employeeControls; let i = index;">
      <div [formGroupName]="i"> 
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput  formControlName="Email">
            <mat-error *ngIf="getControls.controls[i].controls.Email.hasError('pattern')">
              Email not valid
            </mat-error>      
            <mat-error *ngIf="getControls.controls[i].controls.Email.hasError('required')">
              Email Required
             </mat-error> 
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>First name</mat-label>
            <input matInput  formControlName="FirstName">
            <mat-error *ngIf="getControls.controls[i].controls.FirstName.hasError('pattern')">
            Enter only Alphabet
            </mat-error>
            <mat-error *ngIf="getControls.controls[i].controls.FirstName.hasError('required')">
              FirstName Required
             </mat-error> 
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Last Name</mat-label>
            <input matInput  formControlName="LastName">
            <mat-error *ngIf="getControls.controls[i].controls.LastName.hasError('pattern')">
             Enter only Alphabet
            </mat-error>
            <mat-error *ngIf="getControls.controls[i].controls.LastName.hasError('required')">
              Lastname Required
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>GurdianName</mat-label>
            <input matInput  formControlName="GurdianName">
            <mat-error *ngIf="getControls.controls[i].controls.GurdianName.hasError('pattern')">
              Enter only Alphabet
            </mat-error>
            <mat-error *ngIf="getControls.controls[i].controls.GurdianName.hasError('required')">
              Lastname Required
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Grade</mat-label>
            <input matInput  formControlName="Grade">
            <mat-error *ngIf="getControls.controls[i].controls.Grade.hasError('pattern')">
              Enter Only number
             </mat-error> 
             <mat-error *ngIf="getControls.controls[i].controls.Grade.hasError('required')">
              Grade Required
             </mat-error> 
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>ContactNumber</mat-label>
            <input matInput  formControlName="ContactNumber">
            <mat-error *ngIf="getControls.controls[i].controls.ContactNumber.hasError('maxlength')">
             Enter Only 10 digits
            </mat-error> 
             <mat-error *ngIf="getControls.controls[i].controls.ContactNumber.hasError('required')">
              Number Required
             </mat-error> 
             <mat-error *ngIf="getControls.controls[i].controls.ContactNumber.hasError('pattern')">
             Enter only number
             </mat-error> 
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>DialCode</mat-label>
            <input matInput  formControlName="DialCode">
            <mat-error *ngIf="getControls.controls[i].controls.DialCode.hasError('pattern')">
              Enter Only number
             </mat-error> 
             <mat-error *ngIf="getControls.controls[i].controls.DialCode.hasError('maxlength')">
              Enter up to 5 digits
              </mat-error> 
              <mat-error *ngIf="getControls.controls[i].controls.DialCode.hasError('required')">
              Dialcode Required
                </mat-error> 
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>unique</mat-label>
            <mat-select [(value)]="selectedValue"  formControlName="PrimaryValue" multiple>
              <mat-option *ngFor="let unique of primaryValues" [value]="unique">{{unique.name}}</mat-option>
            </mat-select>{{unique}}
          </mat-form-field>
        </td>
        <td>
          <div *ngIf="i!=0">
            <button mat-fab (click)="removeForm(i)">
              <mat-icon>X</mat-icon>
            </button>
          </div>
        </td>
      </div>
    </tr>
  </table>
  <section>
    <div class="example-button-row">
      <button mat-raised-button color="primary" type="submit">submit</button>
      <button mat-raised-button color="primary" [disabled]="!employeeForm.valid" (click)="addForm()">Add More</button>
    </div>
    </section>
</form>
