<form #userDetailform="ngForm" (ngSubmit)="onSubmit(userDetailform)">
    <div class="form-group">
      <label>FirstName</label>
      <input type="text" required class="form-control" pattern="[A-Za-z]+" ngModel name="firstname"
        placeholder="Enter Firstname" #firstnames="ngModel">
      <div class="alert alert-danger" *ngIf="firstnames.hasError('pattern')">
        Enter Only Alphabet
      </div>
  
      <div class="alert alert-danger" *ngIf="firstnames.invalid && firstnames.touched ">
        Name Required
      </div>
    </div>
  
    <div class="form-group">
      <label>LastName</label>
      <input type="text" required class="form-control" pattern="[A-Za-z]+" ngModel name="lastname"
        placeholder="Enter lastname" #lastname="ngModel">
      <div class="alert alert-danger" *ngIf="lastname.hasError('pattern')">
        Enter Only Alphabet
      </div>
      <div class="alert alert-danger" *ngIf="lastname.invalid && lastname.touched">
        LastName Required
      </div>
    </div>
  
    <div class="form-group">
      <label>Email</label>
      <input type="email" ngModel name="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
        class="form-control" placeholder="Enter email" #email="ngModel">
      <div class="alert alert-danger" *ngIf="email.hasError('pattern')">
        Email invalid
      </div>
    </div>
  
    <div class="form-group">
      <label>Mobile No</label>
      <input type="text" required class="form-control" ngModel name="mobile" pattern="[0-9]*" maxlength="10"
        placeholder="Enter mobileNo" #mobiless="ngModel">
      <div class="alert alert-danger" *ngIf="mobiless.hasError('pattern')">
        Enter Only digits
      </div>
    </div>
  
    <mat-form-field appearance="fill">
      <mat-label>Choose a Birthdate</mat-label>
      <input matInput [matDatepicker]="picker" ngModel name="age" #age="ngModel" ageValidator>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-error *ngIf="!age.hasError('ageValidator')">Select above 18 </mat-error>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>languages</mat-label>
        <mat-select [(value)]="selectedValue" multiple>
          <mat-option *ngFor="let language of userDetail.value.language" [value]="language">{{language}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <button type="submit" class="btn btn-primary" [disabled]="!userDetailform.valid">Submit</button>
      <button type="submit" class="btn btn-primary" (click)=clearstorage()>Log Out</button>
    </div>
  
    <div class="alert alert-danger">
      {{firstnameString}}
      {{lastnameString}}
      {{emailString}}
      {{mobilenumber}}
      {{multicheck}}
    </div>
  </form>
